@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

#portcard {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#portcard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#contactbutton {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#contactbutton:hover {
  transform: scale(3);
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: silver;
  min-height: 100vh;
}